pre code.hljs {
  display: block;
  padding: 0px 10px;
  max-width: 600px;
  margin: 0 auto;
  border: #b7b7b7;
  border-width: 3px;
  border-style: solid;
}
/*
Monokai style - ported by Luigi Maselli - http://grigio.org
*/
.hljs {
  background: #e6e4e4;
  color: #000000
}
.hljs-tag,
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-strong,
.hljs-name {
  color: #f92672
}
.hljs-code {
  color: #66d9ef
}
.hljs-attribute,
.hljs-symbol,
.hljs-regexp,
.hljs-link {
  color: #bf79db
}
.hljs-string {
  color:#ffd000
}
.hljs-bullet,
.hljs-subst,
.hljs-title,
.hljs-section,
.hljs-emphasis,
.hljs-type,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #0073ff
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: rgb(10, 205, 17)
}
.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #118418
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-selector-id {
  font-weight: bold
}

.hljs-number {
  color: #ff6347;
}
