body {
    background-color: white;
}

span.text-centered {
    text-align: center;
}

a {
    text-decoration: none;
}

a:visited {
    color: rgb(156, 26, 139);
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: rgb(255, 77, 0);
}

h1 {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main {
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.italics {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.contents {
    margin: auto;
    max-width: 450px;
    padding: 10px 30px;
    padding-bottom: 50px;
    text-align: left;
    background-color: rgb(68, 69, 86);
}

span.content {
    color: rgb(255, 255, 255);
}

hr.separator {
    padding: 0%;
    height: 5px;
    border-style: none;
}

a.content:link {
    color: rgb(255, 255, 255);
}

a.content:visited {
    color: rgb(255, 255, 255);
}

.content-links {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.paragraph {
    padding-top: 40px;
    margin: auto;
    max-width: 600px;
    text-align: left;
}

video {
    border-radius: 10px;
    padding: 5px;
    display: table;
    margin: auto;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
}

.media-footer {
    padding: 5px;
    display: table;
    margin: 0 auto;
}